[submodule "clip-digest-extension"]
	path = clip-digest-extension
	url = ./clip-digest-extension
[submodule "clip-digest-server"]
	path = clip-digest-server
	url = ./clip-digest-server
[submodule "clip-digest-website"]
	path = clip-digest-website
	url = ./clip-digest-website
